@keyframes pulse {
    0% {
     transform: scale(1, 1);
    }

    50% {
     transform: scale(0.8, 0.8);
    }

    100% {
    transform: scale(1, 1);
    }
}

.pulsing {
    animation: pulse 1s ease-in-out infinite;
}

.text-smaller {
    font-size: 0.7rem;
}

.text-italic {
    font-style: italic;
}